@media (max-width: 945px) {
  /* article {
    flex-direction: row;
  } */

  .imagenCategorias {
    width: 100%;
  }

  .servicios {
    width: 80%;
  }

  .contactoMedia {
    flex-direction: row;
  }
  .contacto-hijo {
    width: auto;
  }

  iframe {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  form textarea {
    width: 100%;
  }
}

@media (max-width: 753px) {
  .navbar ul {
    display: none;
    position: absolute;
    top: 80px;
    width: 25%;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(250, 238, 238, 0.9);
  }

  .navbar ul li {
    margin: 3px;
  }

  label.menu {
    display: block;
    font-size: 1.7em;
    color: lightgreen;
    cursor: pointer;
  }

  #check-menu:checked ~ ul {
    display: block;
    flex-direction: column;
  }

  footer span {
    width: 100%;
    text-align: center;
  }

  .contactoMedia {
    flex-direction: column;
    margin: 6px;
  }
  .Contacto-hijo {
    width: 100%;
  }
  #contacto {
    height: 1700px;
  }
}

@media (max-width: 500px) {
  .navbar ul {
    width: 40%;
  }

  #servicios .servicios {
    width: 100%;
  }
}

@media (max-width: 480px) {
  article {
    flex-direction: column;
  }

  .titulo-header {
    font-size: 100%;
  }
}

@media (max-width: 320px) {
  .navbar ul {
    width: 60%;
  }
}
