@for $i from 4 through 1 {
  .titulo-tamano-#{$i} {
    font-size: 25px + $i;
  }
}

@each $color in lightgrey, lightpink, pink, grey {
  .#{$color} {
    background-color: $color;
  }
}

@each $color in white, black {
  .#{$color} {
    color: $color;
  }
}
