@media (max-width: 945px) {
  article {
    flex-direction: row;
  }

  .imagenCategorias {
    width: 100%;
  }

  .Servicios {
    width: 80%;
  }

  .contactoMedia {
    flex-direction: row;
  }

  .Contacto-hijo {
    width: 30%;
  }

  iframe {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  form textarea {
    width: 100%;
  }
}

@media (max-width: 711px) {
  .contactoMedia {
    flex-direction: column;
    margin: 6px;
  }
  .Contacto-hijo {
    width: 100%;
  }
  #Contacto {
    height: 1600px;
  }
}

@media (max-width: 500px) {
  .navbar ul {
    width: 30%;
  }
}

@media (max-width: 480px) {
  article {
    flex-direction: column;
  }

  .titulo-header {
    font-size: 100%;
  }
}

@media (max-width: 320px) {
  .navbar ul {
    width: 50%;
  }
}
