/* Colores de fondo de secciones en index y resto de las páginas*/
$color-otonoinv1: rgb(128, 101, 80);
$color-otonoinv2: rgb(156, 116, 86);
$color-otonoinv3: rgb(183, 137, 96);
$color-otonoinv4: rgb(188, 154, 110);

$color-primaverano1: rgb(117, 248, 176);
$color-primaverano2: rgb(192, 247, 192);
$color-primaverano3: rgb(207, 247, 207);
$color-primaverano4: rgb(225, 247, 225);

$borderimage-none: none;
$borderimage-ok: groove 4px rgba(139, 85, 2, 0.548) 5px;
